@import "variables.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

#root {
  background-color: var(--root-background-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--background-color);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: var(--background-color);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


#root {
  min-height: 100vh;
  max-width: 1280px;
  min-width: 100vw;
  margin: 0 auto;
  text-align: center;
}
